<%- include ('_layouts/header.ejs') %>


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Available <%= brand %> products</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Available <%= brand %> products</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Available Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            <% items.forEach(function(item){ %>
                
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="img/<%= item.image %>" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3"><%= item.name %></h6>
                        <div class="d-flex justify-content-center">
                            <h6><%= item.price %></h6>
                            <!-- <h6 class="text-muted ml-2"><del>$123.00</del></h6> -->
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <form action="/add_to_cart" method="post">
                            <input type="hidden" name="id" value="<%= item.id %>">
                            <input type="hidden" name="name" value="<%= item.name %>">
                            <input type="hidden" name="brand" value="<%= item.brand %>">
                            <input type="hidden" name="description" value="<%= item.description %>">
                            <input type="hidden" name="price" value="<%= item.price %>">
                            <input type="hidden" name="image" value="<%= item.image %>">
                            <!-- <input type="submit" value="<%= item.id %>"> -->

                            <a href="" class="btn btn-sm text-dark p-0"><input type = "submit" value = "Add To Cart" class="fas fa-shopping-cart text-primary mr-1"></a>


                        </form>
                        
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <!-- Products End -->




    


    <%- include ('_layouts/footer.ejs') %>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>